<!DOCTYPE html>
<html lang="en" class="scroll-smooth overflow-x-auto overflow-y-auto">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Requests</title>
    <link href="/account/f-css/output.css" rel="stylesheet">
</head>

<body class="flex flex-row w-full">
    <div id="sidebar-container">
    </div>
    <div id="main-content" class="ml-ml-64 h- phone-w-calc md:desktop-w-calc md:ml-[160px] space-y-2 animate-fadeIn">
        <div id="top-bar" class="flex flex-row w-full sticky shadow-inner bg-white border-b-2 p-4 mb-5 opacity-95">
            <div id="left-side" class="flex flex-row gap-4 relative">
                <div>
                    <button id="notif-button" class="relative">
                        <img id="notif-logo" src="/account/f-assets/solid/bell.svg" class="w-7 h-7 inline-block" />
                        <div id="notif-new-indicator"
                            class="h-3 w-3 rounded-full bg-blue-900 absolute top-2 right-2 transform translate-x-1/2 -translate-y-1/2 animate-pulse">
                        </div>
                    </button>
                </div>
                <img id="company-logo" src="/account/f-assets/solid/drivers_ed_logo-no-bg.png" class="w-20 h-8" />
            </div>
            <div id="right-side" class="absolute right-4 text-lg">
                Requests
            </div>
        </div>

        <div id="content" class="flex flex-col w-full items-center">
            <div class="bg-slate-200 p-5 md:p-8 rounded-lg shadow-lg w-full max-w-screen-md my-2">
                <h1 class="text-2xl text-center mb-5 font-bold text-blue-900">User Request</h1>
                <form id="request-form" method="POST" action="javascript:void(0);">
                    <div class="mb-4">
                        <label>Title</label>
                        <input id="title-request" name="title-request" type="text"
                            class="shadow-md appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight hover:border-blue-900 focus:outline-none focus:border-blue-900" />
                    </div>

                    <div class="mb-4">
                        <label>Details</label>
                        <textarea id="details-request" name="details-request" type="textbox"
                            class="shadow-md appearance-none border rounded w-full min-h-40 py-2 px-3 text-gray-700 leading-tight hover:border-blue-900 focus:outline-none focus:border-blue-900"></textarea>
                    </div>

                    <button id="submit-request-btn"
                        class="bg-sky-900 hover:bg-red-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                        type="submit">
                        Submit
                    </button>

                </form>

            </div>
            <div id="requestTable" class=" mt-5 w-full px-5">

            </div>

        </div>
    </div>

     <div id="myModal" class="fixed inset-0 z-50 items-center justify-center hidden bg-gray-900 bg-opacity-50">
        <div class="relative bg-white rounded-lg shadow-lg min-w-72 max-w-xl p-6 ">
            <span
                class="close absolute top-0 right-2 text-3xl font-semibold text-gray-700 hover:text-gray-900 cursor-pointer ">&times;</span>
            <h2 id="modal-title" class="text-xl font-semibold">Request Details</h2>
            <p id="modal-details" class="mt-4">the details</p>
        </div>
    </div>
    <script type="module" src="/account/utils/modal-feedback.js"></script>
    <script>

        document.addEventListener('DOMContentLoaded', () => {
            try {
                // Since the response is not JSON, just log the success
                console.log('User dashboard accessed successfully');
                const script = document.createElement('script');
                script.src = '/account/f-jsfiles/user-sidebar.js';
                document.body.appendChild(script);

                const userRequestScript = document.createElement('script');
                userRequestScript.src = '/account/f-jsfiles/user-request.js';
                userRequestScript.type = "module";
                document.body.appendChild(userRequestScript);
            } catch (error) {
                console.error('Authorization error:', error);
                alert("You are not authorized to view this page.");
                window.location.href = '/account/user-login'; // Redirect to login if not authorized
            }
        });



    </script>
</body>

</html>