    # Node modules (reinstalled during build)
    node_modules
    *.log

    # Logs and temp files
    *.log
    *.tmp

    # OS-specific
    .DS_Store
    Thumbs.db

    .env*

    # Git and editor configs
    .git
    .gitignore
    .vscode
    .idea

    # Docker artifacts
    .dockerignore
    Dockerfile*
    docker-compose.yml
