<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Email or Password</title>
    <link href="/f-css/output.css" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body id="body" class="bg-gradient-to-t from-sky-500 to-sky-900 ">
    <div id="changeable-card" class="flex flex-row items-center justify-center min-h-screen">
        <div id="change-password-option-card" class="bg-white p-10 rounded-lg shadow-md text-left max-w-md m-5">
            <h1 class="text-xl font-bold mb-5 text-yellow-600 text-center">Choose what you wish to change</h1>
            <p class="text-left">Make sure you have the necessary requirements for your request</p>
            <div class="w-full flex flex-col justify-around mt-4 gap-6">
                <div>
                    <button id="change-email-btn"
                        class="outline outline-1 rounded-md px-1 bg-yellow-300 text-red-700 hover:outline-offset-2 hover:outline-2 hover:outline-yellow-500">Email
                    </button>
                    <ul class="list-disc list-inside mt-4">
                        <li>Current working Email</li>
                        <li>OTP code</li>
                        <li>PRN (indicated in the registered ID card)</li>
                    </ul>
                    <p>Ensure the PRN you provide matches the one uploaded during your profile registration.
                        <br>Alternatively, you can request the requirements by using this <a
                            href="https://example.com/request-requirements" target="_blank"
                            class="underline underline-offset-2 text-blue-600 font-medium">link</a>.
                    </p>
                </div>
                <div>
                    <button id="change-password-btn"
                        class="outline outline-1 rounded-md px-1 bg-yellow-300 text-red-700 hover:outline-offset-2 hover:outline-2 hover:outline-yellow-500">Password
                    </button>
                    <ul class="list-disc list-inside mt-4">
                        <li>Email</li>
                        <li>New Password</li>
                        <li>OTP code</li>
                    </ul>
                    <p>Or you can use a Google log in to proceed with changing password</p>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-5">
            <div id="input-search-card" style="display: none;"
                class="flex flex-col bg-white py-5 px-10 rounded-lg shadow-md max-w-md">

            </div>
            <div id="search-result-card">

            </div>
        </div>
    </div>
    <div style="display: none;">
        <input id="captchaSiteKey" type="text" value="<%= captchaSiteKey %>" />
    </div>
    <div id="myModal" class="fixed inset-0 z-50 items-center justify-center hidden bg-gray-900 bg-opacity-50">
        <div class="relative bg-white rounded-lg shadow-lg min-w-screen-md max-w-screen-md p-6">
            <span
                class="close absolute top-0 right-2 text-3xl font-semibold text-gray-700 hover:text-gray-900 cursor-pointer ">&times;</span>
            <h2 class="text-xl font-semibold">Change Account Details</h2>
            <div id="modal-details" class="mt-4"></div>
        </div>
    </div>
    <script>
        const script = document.createElement('script');
        script.src = '/f-jsfiles/change-password-email-option.js';
        document.body.appendChild(script);
    </script>
</body>

</html>