<!DOCTYPE html>
<html lang="en" class="scroll-smooth overflow-x-auto overflow-y-auto">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search User</title>
    <link href="/f-css/output.css" rel="stylesheet">
    <script type="module">
        import Dexie from "https://cdn.jsdelivr.net/npm/dexie@3.2.4/dist/dexie.mjs";
        window.Dexie = Dexie;
    </script>
</head>

<body class="flex flex-row w-full over">
    <div id="sidebar-container">
    </div>
    <div id="main-content" class="block ml-ml-250 w-calc animate-fadeIn">
        <div id="top-bar" class="flex h-15 flex-row w-full sticky shadow-inner bg-white border-b-2 p-4">
            <div id="left-side" class="flex flex-row gap-4 relative">
                <div>
                    <button id="notif-button" class="relative">
                        <img id="notif-logo" src="/f-css/solid/bell.svg" class="w-7 h-7 inline-block" />
                        <div id="notif-new-indicator"
                            class="h-3 w-3 rounded-full bg-blue-900 absolute top-2 right-2 transform translate-x-1/2 -translate-y-1/2 animate-pulse">
                        </div>
                    </button>
                </div>
                <img id="company-logo" src="/f-css/solid/drivers_ed_logo-no-bg.png" class="w-20 h-8" />
            </div>
            <div id="right-side" class="absolute right-4 text-lg">
                Search User
            </div>
        </div>

        <div id="content" class="flex flex-col w-full">
            <div class=" mr-4 my-2">
                <form id="search-form" class="flex flex-row gap-4">
                    <h2 class="text-lg ml-4">Search User</h2>
                    <select name="searchOption" id="search-option"
                        class="border-b-2 border-l-2 border-gray-400 p-1 rounded-md shadow-md">
                        <option class="" value="">select search option</option>
                        <option value="user-id">User Id</option>
                        <option value="user-email">User Email</option>
                        <option value="user-name">User Name</option>
                        <option value="user-prn">User PRN</option>
                    </select>
                    <input type="text" id="input-user-info" name="userInfo" placeholder="Input user info " required 
                        class="border-2 border-gray-300 bg-white h-8 pl-4 rounded-lg text-sm focus:outline-none">
                    <button type="submit" 
                        class=" bg-blue-700 hover:bg-gradient-to-t from-blue-400 to-blue-800 text-white rounded-lg px-2 py-1">
                        Search
                    </button>
                </form>
            </div>

            <div id="user-infos" class="mt-3 mb-5 mx-3 grid grid-cols-3  animate-fadeIn">

            </div>
            <div id="selected-user-info-container" style="display: none;" class="mt-3 mb-5 mx-3  animate-fadeIn">

            </div>



        </div>
    </div>
    <div id="myModal" class="fixed -inset-0 z-50 items-center justify-center hidden bg-gray-900 bg-opacity-50">
        <div class="relative bg-white rounded-lg shadow-lg min-w-screen-lg max-w-screen-lg p-6 ">
            <span
                class="close absolute top-0 right-2 text-3xl font-semibold text-gray-700 hover:text-gray-900 cursor-pointer ">&times;</span>
            <h2 id="title-details" class="text-xl font-semibold"></h2>
            <p id="modal-details" class="mt-4">the details</p>
        </div>
    </div>
    <script type="module" src="../utils/f-webCryptoKeys.js"></script>
    <script type="module" src="../utils/f-keyManager.js"></script>
    <script type="module" src="../utils/modal-feedback.js"></script>

    <script>

        document.addEventListener('DOMContentLoaded', async () => {
            console.log('Page loaded');

            try {
                const sidebarScript = document.createElement('script');
                sidebarScript.src = '/f-jsfiles/sidebar.js';
                document.body.appendChild(sidebarScript);

                const searchScript = document.createElement('script');
                searchScript.src = '/f-jsfiles/search.js';
                searchScript.type = 'module';
                document.body.appendChild(searchScript);
            } catch (error) {
                console.error('Authorization error:', error);
                alert("You are not authorized to view this page.");
                window.location.href = '/account/adminlogin'; // Redirect to login if not authorized
            }
        });

    </script>
</body>

</html>