<!DOCTYPE html>
<html lang="en" class="scroll-smooth overflow-x-auto overflow-y-auto">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Payments</title>
    <link href="/f-css/output.css" rel="stylesheet
</head>

<body class="flex flex-row w-full">
    <div id="sidebar-container">
    </div>
    <div id="main-content" class="ml-ml-64 phone-w-calc md:desktop-w-calc md:ml-[160px] space-y-2">
        <div id="top-bar" class="flex flex-row w-full sticky shadow-inner bg-white border-b-2 p-4 mb-5 opacity-95">
            <div id="left-side" class="flex flex-row gap-4 relative">
                <div>
                    <button id="notif-button" class="relative">
                        <img id="notif-logo" src="/f-css/solid/bell.svg" class="w-7 h-7 inline-block" />
                        <div id="notif-new-indicator"
                            class="h-3 w-3 rounded-full bg-blue-900 absolute top-2 right-2 transform translate-x-1/2 -translate-y-1/2 animate-pulse">
                        </div>
                    </button>
                </div>
                <img id="company-logo" src="/f-css/solid/drivers_ed_logo-no-bg.png" class="w-20 h-8" />
            </div>
            <div id="right-side" class="absolute right-4 text-lg">
                Payments
            </div>
        </div>

        <div id="content" class="flex flex-col w-full gap-5">
            <div id="user-payment-form" class="flex flex-col md:flex-row justify-center w-full gap-5">
                <div class="bg-slate-200 p-5 md:p-8 rounded-lg shadow-lg w-full max-w-screen-md my-2">
                    <h1 class="text-2xl text-center mb-5 font-bold text-blue-900">User Payment</h1>
                    <form id="payment-form" class="mx-4">
                        <div class="flex flex-col md:flex-row mb-4 gap-3">
                            <div class="w-full">
                                <label>Account Name</label>
                                <input id="account-name" name="account-name" type="text" required
                                    class="shadow-md bg-white appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight hover:border-blue-900 focus:outline-none focus:border-blue-900" />
                            </div>
                            <div class="">
                                <label>Payment Method</label>
                                <select id="payment-method" name="payment-method" required
                                    class="shadow-md bg-white border rounded w-full py-2 px-3 text-gray-700 leading-tight hover:border-yellow-500 focus:border-yellow-500">
                                    <option value="" disabled selected>Select payment option</option>
                                </select>
                                <input id="Other-payment-method" name="Other-payment-method" style="min-height: 2rem;"
                                    type="text"
                                    class="hidden mt-4 shadow-md bg-white appearance-none border rounded w-full py-1 px-2 text-gray-700 leading-tight hover:border-blue-900 focus:outline-none focus:border-blue-900" />
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="mb-4">
                                <label>Courses</label>
                                <select id="course-select" name="course-select" required
                                    class="shadow-md bg-white border rounded w-full py-2 px-3 text-gray-700 leading-tight hover:border-blue-900 focus:outline-none focus:border-blue-900">

                                </select>
                            </div>
                            <div class="mb-4">
                                <label>Amount</label>
                                <input id="amount" name="amount" type="number" step="0.01" required
                                    class="shadow-md bg-white appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight hover:border-blue-900 focus:outline-none focus:border-blue-900" />
                            </div>
                        </div>
                        <div class="flex flex-col md:flex-row gap-4">
                            <div>
                                <h3 class="mb-2">Provide a Screenshot of the Receipt</h3>
                                <input type="file" id="screenshot-receipt" name="screenshot-receipt" accept="image/*"
                                    class="text-sm rounded-md px-1 file:mr-4 file:rounded-full file:border-0 file:bg-white file:px-4 file:py-2 file:text-base file:font-semibold file:text-blue-700 hover:file:bg-blue-100" />
                            </div>
                            <div>
                                <img id="payment-picture-preview"
                                    class="w-80 min-h-40 max-h-96 rounded-md border-2 content-center border-gray-300 mb-4 object-fill"
                                    alt="Payment Picture Preview">
                            </div>
                        </div>
                        <button id="submit-payment-btn"
                            class="bg-sky-900 hover:bg-red-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                            type="submit">
                            Submit
                        </button>
                    </form>
                </div>
                <div id="method-preview" class=" my-2 ">
                    <p class="text-left ">Payment Method</p>
                    <img id="payment-method-preview"
                        class="w-80 min-h-40 max-h-96 hidden rounded-md border-2 content-center border-gray-300 mb-4 object-fill"
                        alt="Payment Picture Preview">
                </div>
            </div>
            <div>
                <div id="table-announcement" class="mx-3"></div>
                <div id="user-payments-table" class="mt-3 mb-5 mx-3"></div>
            </div>
        </div>
    </div>

    <div id="myModal" class="fixed inset-0 z-50 items-center justify-center hidden bg-gray-900 bg-opacity-50">
        <div class="relative bg-white rounded-lg shadow-lg min-w-screen-lg max-w-screen-lg p-6 ">
            <span
                class="close absolute top-0 right-2 text-3xl font-semibold text-gray-700 hover:text-gray-900 cursor-pointer ">&times;</span>
            <h2 id="title-details" class="text-xl font-semibold">User Payment</h2>
            <p id="modal-details" class="mt-4">the details</p>
        </div>
    </div>
    <script>

        document.addEventListener('DOMContentLoaded', async () => {
            try {
                // Since the response is not JSON, just log the success
                console.log('User dashboard accessed successfully');
                const script = document.createElement('script');
                script.src = '/f-jsfiles/user-sidebar.js';
                document.body.appendChild(script);

                const userPaymentScript = document.createElement('script');
                userPaymentScript.src = '/f-jsfiles/user-payments.js';
                document.body.appendChild(userPaymentScript);

            } catch (error) {
                console.error('Authorization error:', error);
                alert("You are not authorized to view this page.");
                window.location.href = '/user-login'; // Redirect to login if not authorized
            }
        });



    </script>
</body>

</html>